body{
    background-color:black
}
hr{
    color:#00FF73;
    
}
h1{
    color:#00FF73;
    font-family:'Courier New', Courier, monospace;
    font-size: 4em;
    margin-top: 6%;
    text-align: center;
}
h2{
    color:white;
    font-size: 2em;
    text-align: center;
}
p{
    color:white;
    font-size:1.8em;
    padding-left: 2%;
    padding-right: 2%;
}
a{
    color:#00FF73;
    text-decoration: #00FF73 wavy underline;
    font-size: 1.8rem;
}
a:visited{
    color:white;
    text-decoration: white wavy underline;
    font-size: 1.8rem;
}
a:hover{
    color:pink;
    text-decoration: white wavy underline;
    font-size: 1.8rem;
}
.container{
    align-items: center;
    justify-content: center;
}

img{max-width: 43%;
    float:right;
   border: 5px solid white}

